<div class="user-list-container">
  <div class="toolbar">
    <button class="new-user-button" (click)="navegarANuevoUsuario()">Nuevo Usuario</button>
    <select class="user-filter" [(ngModel)]="tipoSeleccionado" (change)="filtrarUsuariosPorTipo()">
      <option value="Todos">Todos</option>
      <option value="Demandante">Demandante</option>
      <option value="Empleado">Empleado</option>
    </select>
  </div>

  @if (usuarios.length === 0) {
    <p class="no-users-msg">No hay usuarios disponibles</p>
  }
  @else {
    <ul class="user-list">
      @for (usuario of usuarios; track usuario.id) {
        <app-user-item
          [usuario]="usuario"
          (verUsuario)="verUsuario(usuario.id)"
          (editarUsuario)="navegarAEditarUsuario(usuario.id)"
          (eliminarUsuario)="eliminarUsuario(usuario.id)"
        ></app-user-item>
      }
    </ul>
  }
</div>
