<div class="user-list-container">
  <div class="toolbar">
    <button class="new-user-button" (click)="navegarANuevoUsuario()">Nuevo Usuario</button>
    <select class="user-filter" [(ngModel)]="tipoSeleccionado" (change)="filtrarUsuariosPorTipo()">
      <option value="Todos">Todos</option>
      <option value="Demandante">Demandante</option>
      <option value="Empleado">Empleado</option>
    </select>
  </div>

  @if (usuarios.length === 0) {
    <p class="no-users-msg">No hay usuarios disponibles</p>
  }
  @else {
    <ul class="user-list">
      @for (usuario of usuarios; track usuario.id) {
        <li class="user-item">
          <span class="user-name">{{ usuario.nombre }} {{ usuario.apellido1 }}</span>
          <div class="actions">
            <button (click)="verUsuario(usuario.id)">Ver</button>
            <button (click)="editarUsuario(usuario.id)">Editar</button>
            <button (click)="eliminarUsuario(usuario.id)">Borrar</button>
          </div>
        </li>
      }
    </ul>
  }
</div>
